/* begin presentation.css */

ul li {
  list-style: none;
  list-style-type: none;
  margin-left: -26px;
  padding-left: 1em;
  text-indent: -32px;
}
ul li pre { text-indent: 0; }
ul li:before {
  content: '\25B6 \0020';
  color: #9c000d;
  line-height:80%;
  vertical-align: 16%;
  padding-right: 0.4em;
}
ul li:first {
  content: ' ';
}

li p { display: inline; }
li pre { margin-left: 2em; }

a {
  text-decoration: none;
  color: #1571e1;
  border: none;
  display: inline !important;
}

pre, code, tt {
  font-family: Monaco, Consolas, 'Bitstream Vera Sans Mono', 'Lucida Console', FreeMono, Courier, monospace;
}

pre, .gist .gist-file .gist-data {
  font-size: 18px;
  max-height: 485px;
  padding-top: 0.25em !important;
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
  overflow: auto;
}

code {
  background: #ffffff;
  padding: 0.1em;
  padding-right: 0.15em;
  border-top-right-radius: 0.2em;
  -moz-border-radius-topright: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 0.2em;
  -webkit-border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
  -moz-border-radius-topleft: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
}
pre, pre code {
  background: none;
}

div.slide {
  background: -webkit-gradient(linear, left bottom, left top, from(#eee), to(#eaeaea));
  background-color: #eee;
  background: -moz-linear-gradient(bottom, #eee, #eaeaea);
  border-top-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 20px;
  -webkit-border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -webkit-border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#9c000d), to(#eee));
}
::-webkit-scrollbar-thumb:horizontal { /* no horizontal scrollbar */
  background: none;
}

.slide.achtung {
  background: #ffffe0;
  border: 1px solid #eee;
  border-radius: 20px;
}
.slide.achtung header {
  color: #9c000d;
}
.slide.dikkat {
  background: #ffffe0;
}
.slide.dikkat header {
  color: #9c000d;
}

.slide.first {
  text-align: center;
}
.slide.first header {
  color: #9c000d;
  width: 900px;
  padding-top: 30px;
  margin-left: 0px;
  padding-left: 0px;
  margin-top: 40px;
  margin-bottom: 20px;
  left: 0px;
  color: white;
  background-color: #9c000d;
  -moz-border-radius: 0.15em 0.15em 0.15em 0.15em;
  border-radius: 0.15em 0.15em 0.15em 0.15em;
  height: 80px;
}
.slide.first section {
  padding-top: 90px;
}

.section {
  color: black;
}

/* Pygments */
.err { border: 0px; }

/* end presentation.css */
