{% unless site.ribbon == null %}
<!-- Ribbon start -->
<div class="ribbon">
  <a href="http://github.com/{{ site.account }}/{{ site.repository }}" rel="me" alt="{{ site.ribbon }}">{{ site.ribbon }}</a>
</div>
<!-- Ribbon end -->
{% endunless -%}
