---
layout: default
---

<div id="presentation-notice">
  <p><strong>Sunumlar Microsoft® IE'de görüntülenememektedir.</strong>
  Sunumları düzgün şekilde görüntülemek için tercihen WebKit tabanlı bir
  tarayıcı: <a href="http://www.google.com/chrome">Google® Chrome</a> veya
  Apple® Safari kullanın.  Firefox (IceWeasel) veya Opera da
  kullanabilirsiniz.</p>
</div>

<div id="presentation-help">

  <p>Sunumların tam ekran görüntülenmesi önerilir (Google Chrome'da `F11` tuşu).
     Sunumlarda kullanılabilecek bazı kısayollar:</p>

  <ul style="margin-left: 1.25em;">
    <li>Boşluk tuşu: İleri</li>
    <li>Sol/Sağ Ok tuşları: Geri/İleri</li>
    <li><code>c</code>: Slayt bağlamını Aç/Kapat</li>
    <li><code>t</code>: İçindekiler</li>
    <li><code>Esc</code>: Toplu görünüm ve slayt seçimi</li>
    <li><code>n</code>: Slayt numaraları</li>
    <li><code>h</code>: Yardım</li>
  </ul>
</div>

<div id="presentation-multicolumn" style="-moz-column-count: 3; -webkit-column-count: 3;">
{% for p in page.presentations %}
  <a class="presentation-link" href="/{{ p }}/">
    <span class="presentation-thumbnail"><img src="/{{ p }}/index.png"></span>
  </a>
{% endfor %}
</div>
